*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo-mario{
    height: 200px;
}



.botao-entre-contato{
   
    color:white;
    background: color #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 40px;
    cursor: pointer;
    text-transform:uppercase;
    font-weight: bold;
    margin-top: 30px;
    bottom: 20px;
    left: 20px;
    position: fixed;
    }



    


.imagem-mario-luigi{
    height: 500px;
}
.caixa-video{
 position: fixed;
 top: 0;
 z-index: -1;

}
video{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top:0;
}
.mascara{
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);;
    position: fixed ;
    top: 0;
}

.body{
    
    height: 100vh;
}
.caixa-mae{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh 
}


.caixa-principal{
    width: 40%;
}
.link-whatsapp img {
height: 60px;
position: fixed;
right: 20px;
bottom: 20px;
}
;

.header{
display: flex;
align-items: center;
gap: 30px;
margin: 30px;

}
.header img {
height: 60px;

}
.header a {
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.header a:hover {
    color: #14c511;
    font-size: 30px;
    transition: 0.5s  ease-in-out;
}
.botao-entre-contato{
    background-color: #c51111;
    color: white;
    padding: 15px;
    cursor: pointer;
}
.botao-entre-contato:hover {
    background-color: rgb(208, 255, 0);
}
.botao-entre-contato{
    transition: background-color 0.3 ease;
}
.formulario-fale-conosco{
  background-color: white; 
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: fixed;
  left: -300px;
  top: 50px;
  padding: 20px;
  border-radius: 5px;
}
input{
     height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;
}
textarea {
    width: 280px;
    height: 100px;
border-radius: 5px;
border: 1px solid gray;
padding-left: 5px;
outline-color: #18d80f;
}
.mascara-formulario{
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99)15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}