*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo-mario{
    height: 200px;
}

.botao-entre-contato{
   
    color:white;
    background: color #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 40px;
    cursor: pointer;
    text-transform:uppercase;
    font-weight: bold;
    margin-top: 30px;
    bottom: 20px;
    left: 20px;
    position: fixed;
    
    
    
}


.imagem-mario-luigi{
    height: 500px;
}
.caixa-video{
 position: fixed;
 top: 0;
 z-index: -1;

}
.video{
    width: 100vw;
}
.mascara{
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);;
    position: fixed ;
    top: 0;
}

.body{
    
    height: 100vh;
}
.caixa-mae{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh 
}


.caixa-principal{
    width: 40%;
}
.link-whatsapp img {
height: 60px;
position: fixed;
right: 20px;
bottom: 20px;
}